/*Leaderboard*/

.leaderboard_title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.3rem;
  margin-top: 4vh;
  margin-bottom: 2vh;
}

/* Style the container for the leaderboard */
.leaderboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.under5-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.under5-container > img {
  margin: 1vh;
}

/* Style each user's row */
.user-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 60vw;
  padding: 0 10px;
  margin: 8px 0;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.active-user-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 60vw;
  padding: 0 10px;
  margin: 10px 0;
  background-color: #b1f1ab;
  border-radius: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Style the user's avatar/name */
.user-avatar-name {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: 2.5rem;
}

.user-avatar {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  margin-right: 10px;
}

/* Style the user's sand dollars, corals, and any other properties */
.user-xp {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: flex-end;
  background: #eaffe7;
  box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 24px;
  font-size: 1.2rem;
  margin: 10px;
  padding: 5px 20px;
}

.user-xp > p {
  margin-right: 15px;
}
.user-xp > * {
  margin: 0;
}

/*places*/
.first {
  background-color: #f1d983;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.second {
  background-color: silver;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.third {
  background-color: #c0825f;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.podium {
  color: white;
  font-size: 1.5rem;
}
.not {
  color: black;
  font-size: 1.5rem;
}
