.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.backgroundDiv {
  height: 100vh;
  background-image: url(../public/Vector.svg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-y: hidden;
  overflow-x: hidden;
  width: 100%;
  position: relative;
}

/* .backgroundDivGame {
  margin-left: 21%;
  height: 100vh;
  width: 79%;
  background-image: url(../public/Vector.svg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-y: hidden;
} */

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20vh;
}
.about > * {
  width: 60vw;
  line-height: 1.8rem;
}
.loginDiv {
  display: flex;
  flex-direction: column;
  margin: 2vh auto;
  font-size: 1rem;
}

.loginInput {
  border-radius: 20px;
  width: 15rem;
  padding: 0.5rem;
  border: 1px solid #41c2cb;
  font-size: 1rem;
}

/*AVATAR PAGE CSS*/
.avatarRadio {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.avatarRadioList {
  margin-top: 15vh;
}
.avatarRadioList > * {
  margin: 1vw;
}

.avatarRadio:checked + img {
  /* outline: 20px solid #fbd039; */
  border-radius: 50%;
}

.avatarImg:active {
  animation: pulse;
  animation-duration: 1s;
  padding: 0;
  margin: 0;
  border-radius: 50%;
}

.avatarNameInput {
  border-radius: 30px;
  padding: 1rem;
  width: 15rem;
  margin: 0.8rem 0vh 0.7vh 0vh;
  border: 1px solid #41c2cb;
  font-size: 1rem;
}

.button {
  background-color: #41c2cb;
  border: 1px solid #28a6af;
  color: #ffffff;
  border-radius: 30px;
  padding: 1rem;
  width: 8rem;
  font-size: 1rem;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
}

.coral:hover {
  margin: 1rem;
  animation: bounce; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 1s; /* don't forget to set a duration! */
}

/*DIVING CSS*/

.divingQuestContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background: linear-gradient(180deg, #b9f3f8 0%, #5cb3b9 80%) no-repeat;
  background-size: 100vw auto;
}

.divingContainerBleach {
  background-image: url(../public/images/coralbleach.svg);
  display: flex;
  background-repeat: no-repeat;
  flex-direction: column;
  align-items: center;
  background-size: 100vw auto;
  height: 100%;
}

.speakingBubble {
  padding-top: 2rem;
  background-image: url("../public/images/speakingBubble.svg");
  background-repeat: no-repeat;
  height: 18rem;
  width: 50rem;
  display: flex;
  flex-direction: column;
  margin-top: 10rem;
}

.speakingBubble > * {
  padding: 0rem 2rem 0rem 2rem;
  width: 41rem;
}

.mapPage {
  display: flex;
  flex-direction: column;
  padding: 0rem 20rem;
}
.pMap {
  font-size: 1rem;
  width: 50rem;
  margin-bottom: 2rem;
}
.qLabel {
  padding: 1rem 0;
  font-size: 1.3rem;
}
.title {
  font-size: 2rem;
  margin-bottom: 0rem;
}
.textarea {
  border-radius: 0.5rem;
  border: 2px solid#41C2CB;
  height: 4rem;
  font-size: 1.3rem;
}
.iframeMap {
  border-radius: 0.5rem;
  margin-bottom: 0.6rem;
  height: 30rem;
  width: 50rem;
  padding-bottom: 0.5rem;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5vh;
  margin-bottom: 5vh;
}
.buttonContainer > * {
  margin: 1rem;
}

.agentSpeechBubble {
  width: 40vw;
  height: 30vh auto;
  margin: 20vh 10vw;
  border: 4px solid #00bfb6;
  border-radius: 25px;
  background: #9fe3e9;
  padding: 20px;
  position: relative;
}
.agentSpeechBubble > * {
  display: inline-block;
}

.pil_høyre:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid #41c2cb;
  border-top: 10px solid #41c2cb;
  border-bottom: 10px solid transparent;
  right: 20px;
  bottom: -23px;
}

.pil_høyre:after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid #9fe3e9;
  border-top: 10px solid #9fe3e9;
  border-bottom: 10px solid transparent;
  right: 24px;
  bottom: -13px;
}

.pil_venstre:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid #41c2cb;
  border-right: 10px solid transparent;
  border-top: 10px solid #41c2cb;
  border-bottom: 10px solid transparent;
  left: 20px;
  bottom: -23px;
  left: 20px;
  bottom: -23px;
}

.pil_venstre:after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid #9fe3e9;
  border-right: 10px solid transparent;
  border-top: 10px solid #9fe3e9;
  border-bottom: 10px solid transparent;
  left: 24px;
  bottom: -13px;
}

.crab {
  position: absolute;
  height: 20rem;
  width: 20rem;
  top: 24rem;
  left: 47rem;
}

@media (max-width: 1440px) {
  .crab {
    position: absolute;
    height: 20rem;
    width: 20rem;
    top: 22rem;
    left: 12rem;
  }
}

.agentSpeechBubbleDiving {
  width: 40rem;
  height: 30rem auto;
  margin-top: 10rem;
  margin-bottom: 2rem;
  border: 4px solid #00bfb6;
  border-radius: 25px;
  background: #9fe3e9;
  padding: 20px;
  position: relative;
}

.agentSpeechBubbleDiving > * {
  display: inline-block;
}

.fish2 {
  position: absolute;
  right: 52vw;
  top: 50vh;
  animation-duration: 6s;
  --animate-duration: 5s;
}
.fish1 {
  position: absolute;
  right: 72vw;
  top: 60vh;
  animation-duration: 6s;
  --animate-duration: 5s;
}
