.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.backgroundDiv {
  height: 100vh;
  background-image: url(../public/Vector.svg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-y: hidden;
}

.about{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10rem;
}
.about >*{
  width: 60rem;
  line-height: 1.8;
}

/* HIDE RADIO */
.avatarRadio {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  
}

.avatarRadioList{
  margin-top: 15vh;
}
.avatarRadioList > *{
  margin: 1rem;
}

/* CHECKED STYLES */
.avatarRadio:checked + img {
  outline: 20px solid #FBD039;
  border-radius: 50%;
}

.avatarNameInput{
  border-radius: 30px;
  border: none;
  padding: 0.7rem;
  width: 12rem;
  margin: 0.8rem 0vh 0.7vh 0vh;
  border: 1px solid #41C2CB;
}
.button{
  background-color: #41C2CB;
  border: 1px solid #28a6af;
  color: #FFFFFF;
  border-radius: 2rem;
  padding: 1rem;
  width: 7rem;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
}
.button:hover{
  background-color: #28a6af;
}


.coral:hover{
  margin: 1rem;
  animation: bounce; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 1s; /* don't forget to set a duration! */
}

.speakingBubble{

}




